{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
        <h1>Немного про сайт</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p> Данный сайт является первым ресурсом, созданным для активного
            общения и знакомств в Приморском крае. Здесь размещены тысячи
            действующих анкет из жителей из разных городов Приморья.
            Пройдите простую регистрацию и начинайте знакомиться.
        </p>


        <div class="col-6">
          <h4>Контакты для связи</h4>
        </div>

        <div class="col-12">
          <p>Почта:<a href="mailto:taren4ikDOTprotonmail.com"
                      onclick="this.href=this.href.replace(/DOT/,'@')"><font
                  style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"> Связаться со
              мной </font></font></a></p>
          <p>Телеграм:
            <a
              href="https://t.me/RattButler"
            >
              <img src="{% static 'img/tlg_icon.png' %}" width="40" height="40">
            </a>
          </p>
        </div>
  </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'img/heart.png' %}" width="450" height="600"
             caption = 'Heart'
             class="d-inline-block align-top"  >
      </div>
  </div>
</div>

{% endblock %}