{% extends 'base.html' %}
{% block title %}
  Посты авторов, на которых подписан
{% endblock %}
{% block content %}
  {% include 'includes/switcher.html' %}
  <h1>Анкеты, на которые я подписан</h1>
  {% for post in page_obj %}
    {% include 'includes/profile.html' %}
    {% if profile.category %}
      <a
        href="{% url 'posts:category_list' profile.category.slug %}"
      >все записи группы</a>
    {% endif %}
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}