{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Профайл {{ profile.description |truncatechars:30 }}
{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {% if profile.first_name %}
            Имя: {{ profile.first_name }}
          {% else %}
            Имя: {{ profile.username }}
          {%endif%}
        </li>
        <li class="list-group-item">
          Возраст: {{ age  }}
        </li>
        <li class="list-group-item">
          Обо мне: {{ profile.description  }}
        </li>
        <li class="list-group-item">
          Тедефон: {{ profile.phone|truncatechars:6  }}
        </li>
        {% if profile.category  %}
          <li class="list-group-item">
            Группа: {{profile.category}}
            <a
                    href="{% url 'profiles:category_profiles' profile.category.slug %}">
              все записи группы
            </a>
          </li>
        {% else %}
          <li class="list-group-item">
            Группа: Отсутствует группа
          </li>
        {% endif %}

        <li class="list-group-item">
          {% if user.is_authenticated %}
            {% if following %}
              <a
                class="btn btn-lg btn-light"
                href="{% url 'profiles:profile_unfollow' profile.id %}"
                role="button"
                style="background-color: #ff85cf"
              >
                Отписаться
              </a>
            {% elif request.user.pk != profile.pk %}
              <a
                class="btn btn-lg btn-primary"
                href="{% url 'profiles:profile_follow' profile.id %}"
                role="button"
                style="background-color: #ff85cf; color: black; border: 2px solid black;"
              >
                Подписаться
              </a>
            {% endif %}
          {% endif %}
        </li>

        {% if user.is_authenticated %}
          {% if request.user.pk != profile.pk %}
          <li class="list-group-item">
            <a
              class="btn btn-lg btn-light"
              href="{% url 'profiles:send_message' profile.id %}"
              role="button"
              style="background-color: #ff85cf; color: black; border: 2px solid black;"
            >
              Написать сообщение
            </a>
          </li>
          {% endif %}
        {% endif %}
      </ul>
    </aside>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {% for image in images %}
          {% thumbnail image "960x339" crop="right" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
        {% endfor %}
        <p>
          {{ profile.description }}
        </p>
        {% include 'includes/comments.html' %}
    </div>
  </div>
{% endblock %}
