{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Профайл {{ post|truncatechars:30 }}
{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {% if profile.author.get_full_name %}
            Имя: {{ user.name }}
          {% else %}
            Имя: {{ user.username }}
          {%endif%}
        </li>
        <li class="list-group-item">
          Возраст: {{ age  }}
        </li>
        {% if profile.category  %}
          <li class="list-group-item">
            Группа: {{profile.category}}
            <a
                    href="{% url 'profiles:category_profiles' profile.category.slug %}">
              все записи группы
            </a>
          </li>
        {% else %}
          <li class="list-group-item">
            Группа: Отсутствует группа
          </li>
        {% endif %}


        {% if user.is_authenticated %}
          {% if following %}
            <a
              class="btn btn-lg btn-light"
              href=""
              role="button"
            >
              Отписаться
            </a>
          {% elif user != author %}
            <a
              class="btn btn-lg btn-primary"
              href=""
              role="button"
            >
              Подписаться
            </a>
          {% endif %}
        {% endif %}
      </ul>
    </aside>

    <article class="col-12 col-md-9">
      {% thumbnail profile.image "960x339" crop="center" upscale=True as im %}
         <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>
        {{ profile.description }}
      </p>
      {% if profile.name == request.user %}

        <a class="btn btn-primary"
           href="{% url 'profiles:profile_delete' profile.id %}">
          удалить запись
        </a>
      {% endif %}
      {% include 'includes/comments.html' %}
    </article>

  </div>
{% endblock %}
