{% extends "base.html" %}
{% block title %}Изменение профиля{% endblock %}
{% block content %}
  {% include 'includes/form.html' with form_name='Изменить профиль' button_name='Изменить'%}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if request.user.pk == user.pk %}
  <div  align="right">
         <a class="btn btn-primary"
            style="background-color: red; width: 100%; border: 0px"
            href="{% url 'profiles:profile_delete' user.id %}">
            удалить профайл
         </a>
  </div>
  {% endif %}
{% endblock %}
